*{
    box-sizing: border-box;
    font-family: cursive;
  }
  body{
    background-color: #a8b4c7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  .quiz-container{
    background-color: #fff;
    border-radius: 10px;
    width: 600px;
    overflow: hidden;
  }
  .quiz-header{
    padding: 4rem;
  }
  h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
  }
  
  ul{
    list-style-type: none;
    padding: 0;
  }
  ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
  }
 
  button{
    background-color: #5a088a;
    color: #fff;
    border: 20px;
    margin-bottom: 10px;
    margin-left: 30%;
    border-radius: 10px;
    width: 40%;
    cursor: pointer;
    font-size: 20px;
    font-family: inherit;
    padding: 1.3rem;
  }
 